{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "never",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }]
  }
}
